@media only screen and (max-width: 699px) {

  .header {
    background-image: url('../public/images/heros/hero-image_2_small.jpg');
    min-height: 400px; 
  }

  header .header-inner .header-title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
  .header .header-inner .header-sub-title {
    color: white;
    font-weight: bold;
    padding: 8px;
  }
  
  .header .header-inner .header-content {
    font-weight: bold;
    padding: 8px;
  }
  

  .nav-container {
    display: block;
  }
  .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
  }

  .menu-links {
    display: flex;
    z-index: 99999;
    flex-direction: column;
    transform: translateX(-700px);
    align-items: center;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    width: 20rem;
    height: 100vh;
    background-color: #000000;
    transition: all 0.5s ease;
    }

    .menu-links a {
      margin-top: 2rem;
    }
  
  /* .menu-links .nav-active {
    max-height: 200px; 
    transition: max-height 0.5s ease;
  } */
  

  .menu-btn{
    display: block;
  }

  .main-resto_container {
    padding: 25px 20px;
  }
  .hero-container .hero-content-container {
    text-align: left;
    line-height: 1.5em;
  }
  .skip2content {
    display: none;
  }
  .hero-container {
    background-image: url('../public/images/sharp/hero-image_4-small.jpg');
  }
}

@media only screen and (min-width: 700px) {
  .header_menu {
    display: none;
  }
  section {
    margin-bottom: 80px;
  }

  .main-resto_label {
    font-size: 26px;
  }

  .list-resto {
    grid-template-columns: 1fr 1fr;
  }

  .resto-item_name {
    font-size: 22px;
  }
  .main-resto_container {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 1200px) {
  nav {
    padding: 0 100px;
  }
  .main-resto_container {
    padding: 0 30px;
  }
  .list-resto {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container-info {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1.5em;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .restaurant-detail__info,
  .restaurant-detail__menu-list,
  .restaurant-detail__review {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 50px;
    margin: 0 auto;
  }
  .detail-review {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .resto-item_image-container {
    max-width: 300px;
  }
  .header {
    background-image: url('../public/images/heros/hero-image_2_medium.jpg');
    min-height: 400px; 
  }
}
